<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Films</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>

  <%- include('./partials/header') %>

  <h1>Express Movies : le site des cinéphiles</h1>

  <div class="central">
    <h2>
      <%= title %>
    </h2>

    <div id="bestmovies">
      <% for(movie of bestMovies) {%>
        <div><%= movie.title %> (<%= movie.year %>)</div>
      <% } %>
    </div>

    <br>
    
    <div>
      <form action="/movies" method="post">
        <label for="movieTitle">Titre du film</label>
        <input type="text" name="movieTitle" id="movieTitle">
        <label for="movieYear">Année du film</label>
        <input type="text" name="movieYear" id="movieYear">
        <button type="submit">Ajouter</button>
      </form>
    </div>
  </div>

  <%- include('./partials/footer') %>
  
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', addMovie);

    function addMovie(event) {
      event.preventDefault();

      if(window.fetch) {
        fetch('/movies', {
          method: 'POST',
          body:new FormData(form)
        })
        .then(checkStatus)
        .catch(function(error) {
          console.error('request failed', error)
        })
      } else {
        //jQuery, XHR
      }
    }

    function checkStatus(response) {
      if(response.status >= 200 && response.status < 300) {

        //on fabrique une nouvelle div avec les valeurs du formulaire rempli
        let newMovieDiv = document.createElement('div');
        const movieTitle = document.getElementById('movieTitle').value;
        const movieYear = document.getElementById('movieYear').value;
        newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;

        //ajoute à la div bestmovies une div enfant newMovieDiv
        document.getElementById('bestmovies').appendChild(newMovieDiv);

        //vide les champs du formulaire
        form.reset();
      }
    }
  </script>

</body>

</html>